<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>选择供应商</title>
    <link rel="stylesheet" href="__CSS__/font-awesome.min.css">
    <link rel="stylesheet" href="__CSS__/open.css">
    <script type="application/x-javascript" src="__JS__/jquery-3.2.1.min.js"></script>
    <script type="application/x-javascript" src="__JS__/layer/layer.js"></script>
</head>
<body>
<ul class="loading_ul">

    <li class="li_1">
        <div>
            <a href="/" class="ok_open"><i class="fa fa-check"></i> 确认选择</a>
        </div>

    </li>
    <li class="flex">

        <div class="open_list_class">
            <p>供应商类别</p>
            <a href="#">全部</a>
            <a href="#">供应商</a>
            <a href="#">服务商</a>
        </div>

        <table class="open_table w_open_rightlist" border='0' cellspacing="0" cellpadding="0">
            <thead>
            <tr>
                <td class="w35"><input type="checkbox" id="checkbox_a0" class="chk_3"/><label for="checkbox_a0"></label>
                </td>
                <td class="w35">序号</td>
                <td class="w100">供应商编码</td>
                <td class="w130">供应商名称</td>
                <td>简介</td>
                <td class="w80">付款类型</td>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="checkbox" id="checkbox_a1" class="chk_3" checked/><label for="checkbox_a1"></label>
                </td>
                <td>1</td>
                <td>S0001</td>
                <td>香港澳斯达</td>
                <td>供应牛栏，爱他美等相关奶粉</td>
                <td>月结</td>
            </tr>


            </tbody>
        </table>

    </li>
</ul>
</body>
</html>