<include file="public/header" title="仓库回收站" />
<include file="nav/nav" />
<include file="nav/subNav" />
<div class="sdms_main"> 
<div class="title_name">
    	<h2>仓库回收站 &nbsp;<span>SDMS SE / 回收站 / 列表</span></h2>
    </div>
    
    <div class="button_search clearfloat">
        <ul class="dropdown_menu">
            <li><a href="#"><i class="fa fa-cog"></i>&nbsp;&nbsp;操作&nbsp;&nbsp;<i class="fa fa-caret-down"></i></a>
                <ul>
                    
                </ul>
            </li>
        </ul>
        <input type="text" name="search" class="input_search" />
        <input class="button button-primary input_search_b" value="搜索" type="submit" />
    </div>

    <table class="table" border='0' cellspacing="0" cellpadding="0">
    	<thead>
            <tr>
                <td class="w35"><input type="checkbox" id="checkbox_a0" class="chk_1"/><label for="checkbox_a0"></label></td>
                <td class="w35">ID</td>
                <td class="w75">仓库编码</td>
                <td class="w150">仓库名称</td>
                <td>仓库地址</td>
                <td class="w180">仓储公司名称</td>
                <td class="w150">仓库负责人/电话</td>
                <td class="w130">创建时间</td>
                <td class="w130">最新更新</td>
                <td class="text_center w75">状态</td>
                <td class="text_center w45">操作</td>
            </tr>
        </thead>
        
        <tbody>
        	<volist name="list" id="ware">
	            <tr class="tr1">
	                <td><input type="checkbox" id="checkbox_a1" class="chk_1" /><label for="checkbox_a1"></label></td>
	                <td>{$ware.id}</td>
	                <td>{$ware.warehouseCode}</td>
	                <td>{$ware.warehouseName}</td>
	                <td>{$ware.warehouseAddr}</td>
	                <td>{$ware.companyName}</td>
	                <td>{$ware.contName}/{$ware.conTel}</td>
	                <td>{$ware.createTime}</td>
	                <td>{$ware.updateTime}</td>
	                <td class="text_center"><span class="status b_28b5d6 C_FFF">禁用</span></td>
	                <td class="text_center">
	                	<a href="/Manage/dealer.details.php?tabs=1"  class="a_list c_1785c8" title="查看"><i class="fa fa-search"></i></a>
	                </td>
	            </tr>
	        </volist>    
        </tbody>
    </table>
    <div class="page_size">
    	<div class="button">
            
        </div>
        <div class="page"> 
        </div>
    </div>

 </div>
<include file="public/foot" />